<!DOCTYPE html>
<% if notice %>
  <p class="notice"><%= notice %></p>

<% end %>
<html>
  <head>
    <title>Checker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <%= yield %>


  </body>
  <% if admin_signed_in? %>
  <p><%= link_to "sign out", destroy_admin_session_path, method: :delete %></p>
    <p><%= link_to 'leader only', managements_path %></p>
<% end %>
</html>
