<p id="notice"><%= notice %></p>

<h1>Managements</h1>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>Email</th>
      <th>role</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.role %></td>
        <td><%= link_to 'Show', management_path(admin)%></td>
        <td><%= link_to 'Edit', edit_management_path(admin) %></td>
        <td><%= link_to 'Destroy', management_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Management', new_management_path %></p>
<p><%= link_to 'back','../' %></p>
