<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>role:</strong>
  <%= @admin.role %>
</p>

<%= link_to 'Edit', edit_management_path(@admin) %> |
<%= link_to 'Back', managements_path %>
